/* spacing */
table {
  table-layout: fixed;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-collapse: collapse;
  margin-bottom: 50px;
}

input {
  display: inline-block;
  max-width: 92%;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid black;
}

.reload-btn, .submit-btn {
  width: 40%;
  height: 80%;
}

.green {
  color: #F1C40F;
}

.red {
  color: #EE4B2B;
}