/* spacing */

table {
  table-layout: fixed;
  min-width: fit-content;
  width: 80%;
  border-collapse: collapse;
}

input {
  display: inline-block;
  max-width: 92%;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid black;
}